version: '3.8'

services:
  php:
    build: .
    container_name: php_blog    
    volumes:
      - ./www:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
      image: mysql:8.0
      container_name: mysql_blog
      environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: blog
        MYSQL_USER: user
        MYSQL_PASSWORD: password
      ports:
       - "3307:3306"
      volumes:
       - db_data:/var/lib/mysql


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_blog
    environment:
      PMA_HOST: db
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
